<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZVoice.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7C6E7F82A781CA200FE5621</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7C6E8112A781CA400FE5621</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7C6E81B2A781CA400FE5621</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
